tqdm 
notebook==7.1.2 
openai 
elasticsearch==8.13.0 
pandas 
scikit-learn 
ipywidgets
minsearch==0.0.4
groq
python-dotenv
transformers
tiktoken
qdrant-client[fastembed]>=1.14.2
dlt[qdrant]
qdrant-client[fastembed]
sentence-transformers
rouge